<div class="event" id="{{ event._id }}">
		<p class="event-header">
			<strong class="title">{{ event.venue_name }}</strong><br />
			<em class="score">{{ event.upvotes }} points</em>
		</p>
    <h3 class="venue">{{ event.headline }}</h3>
		<p class="date">June 24th {{ event.time_start }} - {{ event.time_end }}</p>
		<!--
		<p class="description">{{ event.description }}</p>
		<p><span class="street">{{ event.street }}</span><br />
		<span class="city">{{ event.city }}</span>,
		<span class="state">{{ event.state }}</span>
		<span class="zip">{{ event.zip }}</span>
		</p>
		-->
</div>
